@use 'variables' as *;
@mixin fancy-border($size:1px,$color:black){
    border: $size solid $color;
  }

.banner {
    // margin-top: 15px;
  img{
    position: relative;
    display:block;
    width: 100%;
  	height: auto;	
    margin-top:-80px;
  }
}

.wrapper {
    position: relative;
	max-width: 960px;
    height: auto;
	padding: 0 10px;
	margin: 0 auto;
    h1{
        color:$font-color-alt-heading;
        background-color: $font-color-body;
        position:relative;
        top:-70px;
        opacity: 0.7;
    }
}

// second img
.gallery-section {
    padding: 0 10px;
    background-color: gray;
    
  
 h1{
    font-size: 2rem;
    // text-align: center;
    color:$font-color-alt-heading;
  }p{
    // color: vars.$third-color;
    // text-align: center;
  }
  .gallery {
    // padding: 5px;
    margin: 0 auto;
  & img {
    width: 100%;
    display:block;
    
  }}
  .gallery-item1,.gallery-item2{
      background-color:white;
  }
}

// .gallery-item:first-child {
// 	margin-bottom: 20px;
// }