@use 'variables' as *;
@use 'mixins' as *;

.top-section  {
    img {
      width:100%;
    } .pictures img{
      height: 20rem;
    } .food img  {
      margin-top:-85px; 
    }
    h1  {
      @include pictures-h1;
    }
  }



@media (min-width: $tablet) {
  .pictures {
    display: block;
  } 
  .food {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:0.5rem;
  margin-top: 1rem;
  }

}
 //second stuff

 .gallery-section {

  h1  {
    color:$accent-color2;
  }
  article {
      padding:0.8rem;
      @include flex-column;
      align-items:left;
      background-color: $card-color;
  } 
  .button-text{
    font-family: $font-navigation;
    font-weight: 700;
    font-size: $font-size-heading;
    text-align: end;
    margin-bottom: 20px;
  } & a{
    padding: .7rem 1rem;
    color:$accent-color;
    background-color: $accent-color2;
  }

}

@media (min-width: $tablet) {
  .text-position{
    font-size:1.8rem;
  } 

}

.gallery-divide {
  margin-top: 1rem;
}
  .post-position  {
    position: relative;
    display:block;
    top:-35px;
    } 

  .text-position {
    padding-bottom: 20px; 
    font-size: $font-size-body;     
    } 

// icon & footer

.older-posts{
  padding: 4rem 0.1rem;

}

