@use 'variables' as *;
@use 'mixins' as *;

.cuisines {
    margin: 0.5rem auto;

    h2 {
        @include aside-header;
    }
    article {
        background-color: $card-color;
        padding: 1rem;
        text-transform: capitalize;

        ul {
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
        }

    }
}