@use 'variables' as *;
@use 'mixins' as *;

.content-wrap{
    padding-top: 2rem;

   @media (min-width:64em){
       & {
        //    line-height: 0;
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           column-gap:.5rem;
           max-width: 960px;
           margin: 0 auto;
        
           .gallery-section{
               grid-column: 1/2;
               grid-row: 2/2;
           }

       }
   }
}

