@use "variables" as *;
@use "mixins" as *;

header {
    .top-header {
        @include flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        margin: 0.5rem auto;

        @media (min-width:$tablet){
            justify-content: space-around;
        }

        @media (min-width: $desktop) {
            width: 960px;
            justify-content: space-between;
        }
    }
    .hamburger-btn {
        border: none;
        background-color: transparent;
        &:focus {
            border: 0;
            outline: 1px dotted;
        }
        .fa-bars {
            color: $main-color;
            font-size: 1.75rem;
        }

        // hide hamburger menu at tablet width and beyond
        @media (min-width: $tablet) {
            display: none;
        }
    }

    // Mobile menu styles

    .mobile-menu{
        // must initially `display: none` for toggle to work
        // set visibility to none and height to 0 to mimmick display: none
        transition: height 0.5s cubic-bezier(0.68, -0.08, 0.48, 1.31), visibility  0.5s cubic-bezier(0.68, -0.08, 0.48, 1.31);
        height: 0;
        // display: none;
        visibility: hidden;


        .mobile-search {
            @include flex-row;
            position: relative;
            input {
                background-color: $color-alt-row;
                font-family: $font-navigation;
                border: none;
                width: 100%;
                padding: 0.75rem 0.5rem;
            }
            // search icon
            img {
                position: absolute;
                right: 0.5rem;
                top: 0.75rem;
            }
        }
        nav {
            text-align: center;
            background-color: $main-color;

            a {
                font-family: $font-navigation;
                font-size: $font-size-heading;
                color: $accent-color;
                text-transform: capitalize;
                &:hover {
                    color: $accent-color2;
                }
                li {
                    border: 2px solid $accent-color2;
                    padding: 0.3rem;
                    &:hover {
                        background-color: $accent-color;
                    }
                    // for screen readers
                    &:focus {
                        border: 0;
                        outline: 1px dotted;
                    }
                }
            }

            .mobile-socials {
                background-color: $accent-color;
                padding: 0;
                border-bottom: 2px solid $accent-color2;

                a {
                    font-size: 1.75rem;
                    color: $main-color;
                    padding: 0 1rem;

                    &:hover {
                        transition: color .5s ease;
                        color: $color-alt-row;
                    }
                }
            }
        }
        @media (min-width: $tablet) {
            display: none;
        }
    }

    // Toggle class from script.js

    .mobile-menu.mobile-menu-active {
        // add animation here
        transition: height 0.5s, visibility 0s;
        height: 298.4px;
        visibility: visible;
        // display: block;
        overflow: hidden;
    }
    

    // Tablet & desktop view styles (located in top-header section)

    .tablet-desk-view {
        display: none;

        @media (min-width: $tablet) {
            @include flex-row;
        }
        
        .tablet-desk-socials{
            @media (min-width:$tablet){
                display: none;
            }

            @media (min-width:$large-tablet){
                display: block;
            }
        }

        .tablet-search {
            display: none;
            
            //show search on tablet view only
            @media (min-width: $tablet) {
                @include flex-row;
                position: relative;
                input {
                    background-color: $color-alt-row;
                    font-family: $font-navigation;
                    border: none;
                    border-radius: 3px;
                    width: 100%;
                    padding: 0.5rem;
                }
                // search icon
                img {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.6rem;
                }
            }
            @media (min-width: $desktop) {
                display: none;
            }
        }
        .tablet-desk-socials {
            background-color: $accent-color;
            padding: 0;

            a {
                font-size: 1.75rem;
                color: $main-color;
                padding: 0 1rem;
                
                &:hover {
                    color: $color-alt-row;
                }
            }
        }
    }


    // Tablet & desktop menu styles (located under mobile-menu section)

    .tablet-desk-menu {
        display: none;

        // only show for tablet and desktop view
        @media (min-width: $tablet) {
            display: block;
            background-color: $accent-color2;
        }

        ul {
            @include flex-row;
            justify-content: center;
            align-items: center;
            max-width: 960px;
            margin: 0 auto;

            a {
                background-color: $main-color;
                font-family: $font-navigation;
                font-size: $font-size-heading;
                color: $accent-color;
                text-transform: capitalize;
                padding: 0.5rem 2rem;

                @media(min-width:$large-tablet){
                    padding: .5rem 2.4rem;
                }

                &:hover {
                    color: $accent-color2;
                    background-color: $accent-color;
                }
                //for screen-reading
                &:focus {
                    border: 0;
                    outline: 1px dotted $main-color;
                }
            }
        }
        .desktop-search {
            position: relative;
            display: none;

            //only display for desktop view
            @media (min-width: $desktop) {
                display: block;
                background-color: $accent-color2;
            }
            input {
                font-family: $font-navigation;
                font-size: $font-size-heading;
                background-color: $color-alt-row;
                border: none;
                width: 280px;
                padding: 0.75rem;
            }
            // search icon
            img {
                position: absolute;
                right: 0.5rem;
                top: 0.8rem;
            }
        }

    }
}
