@use "variables" as *;
@use "mixins" as *;

header {
    .top-header {
        @include flex-row;
        justify-content: space-between;
        margin: 0.5rem auto;

        @media (min-width: $desktop) {
            width: 960px;
        }
    }
    .hamburger-btn {
        border: none;
        background-color: transparent;

        &:focus {
            border: 0;
            outline: 1px dotted;
        }

        .fa-bars {
            color: $main-color;
            font-size: 1.75rem;
        }

        // hide hamburger menu at this width
        @media (min-width: $tablet) {
            display: none;
        }
    }

    .mobile-menu{
        // animation here?
        transition: all 1s ease;
        overflow: hidden;
        display: none;

        .mobile-search {
            @include flex-row;
            position: relative;
            input {
                background-color: $color-alt-row;
                font-family: $font-navigation;
                border: none;
                border-radius: 3px;
                width: 100%;
                padding: 0.75rem 0.5rem;
            }
            img {
                position: absolute;
                right: 0.5rem;
                top: 0.75rem;
            }
        }
        nav {
            text-align: center;
            background-color: $main-color;

            a {
                font-family: $font-navigation;
                font-size: $font-size-heading;
                color: $accent-color;
                text-transform: capitalize;
                &:hover {
                    color: $accent-color2;
                }
                li {
                    border: 2px solid $accent-color2;
                    padding: 0.3rem;
                    &:hover {
                        background-color: $accent-color;
                    }
                }
            }

            .mobile-socials {
                background-color: $accent-color;
                padding: 0;
                border-bottom: 2px solid $accent-color2;

                a {
                    font-size: 1.75rem;
                    color: $main-color;
                    padding: 0 1rem;

                    &:hover {
                        color: $color-alt-row;

                        // do animations later
                    }
                }
            }
        }
        @media (min-width: $tablet) {
            display: none;
        }
    }
    .mobile-menu-active {
        display: block;
    }

    //non-mobile view styles

    .tablet-desk-view {
        display: none;

        @media (min-width: $tablet) {
            @include flex-row;
        }
        
        .tablet-search {
            display: none;
            
            @media (min-width: $tablet) {
                @include flex-row;
                position: relative;
                input {
                    background-color: $color-alt-row;
                    font-family: $font-navigation;
                    border: none;
                    border-radius: 3px;
                    width: 100%;
                    padding: 0.5rem;
                }
                img {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.6rem;
                }
            }
            @media (min-width: $desktop) {
                display: none;
            }
        }
        .tablet-desk-socials {
            background-color: $accent-color;
            padding: 0;
            
            a {
                font-size: 1.75rem;
                color: $main-color;
                padding: 0 1rem;
                
                &:hover {
                    color: $color-alt-row;
                    
                    // do animations later
                }
                }
        }
    }

    // tablet & desktop menu styles

    .tablet-desk-menu {
        display: none;

        @media (min-width: $desktop) {
            display: block;
            background-color: $accent-color2;
        }

        ul {
            @include flex-row;
            justify-content: center;
            align-items: center;
            max-width: 960px;
            margin: 0 auto;

            a {
                background-color: $main-color;
                font-family: $font-navigation;
                font-size: $font-size-heading;
                color: $accent-color;
                text-transform: capitalize;
                padding: 0.5rem 2.4rem;
                &:hover {
                    color: $accent-color2;
                    background-color: $accent-color;
                }
            }
        }
        .desktop-search {
            position: relative;

            input {
                font-family: $font-navigation;
                font-size: $font-size-heading;
                background-color: $color-alt-row;
                border: none;
                width: 280px;
                padding: 0.75rem;
            }
            img {
                position: absolute;
                right: 0.5rem;
                top: 0.8rem;
            }
        }

    }
}
