@use 'variables' as *;

@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin aside-header{
    text-transform: uppercase;
    background-color: $main-color;
    padding: 0.5rem 1rem;
    margin: 0;
}