@use 'variables' as *;
@use 'mixins' as *;

.latest-recipes {
    h2 {
        text-transform: uppercase;
        background-color: $main-color;
        padding: 0.5rem 1rem;
        margin: 0;
    }
    article {
        @include flex-row;
        align-items: center;
        background-color: $card-color;

        img {
            margin: 0.75rem;
            border: 0.16rem solid $main-color;
        }
        p {
            text-transform: uppercase;
        }
    }
    .alt-row {
        background-color: $color-alt-row;
    }
}