
//--- Font properties

$font-navigation: 'Roboto Condensed', Arial, sans-serif;
$font-heading: 'Roboto Condensed', Arial, sans-serif;
$font-body: 'Roboto', Arial, sans-serif;

$font-weight-navigation: 700;
$font-weight-heading: 400;
$font-weight-body: 300;

$font-size-heading: 1.2rem;
$font-size-body: 1rem;

$font-color-heading: black;
$font-color-body: black;


//--- Media Queries
$tablet: 37.5rem;
$desktop: 50rem;